* {
  box-sizing: border-box;
  /*border: 1px solid black;*/
}
* img {
  max-width: 100%;
}
body {
  font-family: 'Montserrat', sans-serif;
}

h2 {
  font-family: 'Catamaran', sans-serif;
}

/* - - - - - - - - - - - - Help Classes - - - - - - - */

.right-align {
  text-align: right;
}

.center-align {
  text-align: center;
}

.left-align {
  text-align: left;
}

.no-padding {
  padding:0;
}

.position-absolute {
  position: absolute;
}

.position-fixed {
  position:fixed;
}

.position-relative {
  position: relative;
}
/* - - - - - - - - - - - - Header - - - - - - - */
.navigation img{
  max-width: 30px;
}

.navigation a {
  color: black;
  font-size: 1rem;
  text-decoration: none;
}

.menu a {
  padding: 0 1rem;
}

.menu a.no-padding {
  padding:0;
}

.menu a:hover {
  text-decoration: underline;
}

.menu img {
  min-width: 50px;
}

/* - - - - - - - - - - - - Hero - - - - - - - */

.hero {
  background-image: url(../img/header.jpg);
  color: white;
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  text-align: center;
}

.hero h1 {
  font-size: 5rem;
  font-family: 'Courier New', sans-serif;
  font-weight:lighter;
}

.hero hr {
  border: none;
  border-bottom: 3px solid white;
  width: 50%;
  margin-bottom: 20px;
}

/* - - - - - - - - - - - - - Why - - - - - - - - - - - */
.why {
  font-size: 1.2rem;
  text-align: center;
}

.why h2 {
  color: #6CAA7B;
  font-size: 2.5rem;
}

.why img {
  max-height: 300px;
  max-width: 300px;
  display: block;
  align-items: center;
  border: 5px solid #6CAA7B;
  border-radius: 50%;
}

/* - - - - - - - - - - - - Mission Statement - - - - - - - */
.mission {
  text-align: center;
  background-color: #122021;
  color: white;
  padding: 8%;
  font-size: 1.2rem;
}

.mission div {
  border: 3px solid #1BA39C;
}

.mission h2 {
  font-size: 2rem;
}
/* - - - - - - - - - - - - What We Do - - - - - - - */
.wwd {
  border: 2px solid white;
  min-height: 50vh;
}
.wwd img {
  max-width: 40px;
  height: auto;
}
.wwd h2 {
  font-size: 2rem;
}
.wwd1 {
  background-color: #26A65B;
  border: 2px solid white;
}

.wwd2 {
  background-color: #1BBC9B;
  border: 2px solid white;
}

.wwd3 {
  background-color: #1BA39C;
  border: 2px solid white;
}

.wwd4 {
  text-align: center;
  border: 2px solid white;
}

.wwd-item {
  top: 0;
  left: 0;
  background-color: white;
  opacity: 0;
}

.wwd-centerimg {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* - - - - - - - - - - - - Shop - - - - - - - */
.shop {
  padding: 18%;
  background-image: url(../img/shop.png);
  background-position: center;
  background-size: cover;
}

.shop a {
  text-align: center;
  text-decoration: none;
  border: 2px solid black;
  color: black;
  padding: 5%;
  font-size: 1.5rem;
}

.shop a:hover {
  background-color: #122021;
  color: white;
}
/* - - - - - - - - - - - - Blog - - - - - - - */
.homeblog hr {
  border: none;
  border-bottom: 3px solid black;
  width: 50px;
  margin-bottom: 20px;
}

/* - - - - - - - - - - - - - Footer - - - - - - - - - - */
.footer {
  color: white;
}
.f1 {
  background-color: #6CAA7B;
}
.f2 {
  background-color: #122021;
}

/* - - - - - - - - - - fixed elements - - - - - - - - - - -*/
.scroller {
  position: fixed;
  left: 0;
  bottom: 1rem;
  width: 100%;
  z-index: 1;
}

.scroller img {
  max-width: 25px;
  height: auto;
}
