* {
  box-sizing: border-box;
  /*border: 1px solid black;*/
}
* img {
  max-width: 100%;
}
title {
  font-family: 'Courier New';
}
body {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
}

h2 {
  font-family: 'Catamaran', sans-serif;
}

h1 {
  font-family: 'courier new', sans-serif;
  font-weight: lighter;
}

/* - - - - - - - - - - - - Help Classes - - - - - - - */

.right-align {
  text-align: right;
}

.center-align {
  text-align: center;
}

.left-align {
  text-align: left;
}

.no-padding {
  padding:0;
}

.position-absolute {
  position: absolute;
}

.position-fixed {
  position:fixed;
}

.position-relative {
  position: relative;
}
/* - - - - - - - - - - - - Instagram Element- - - - - - - - - - - */
.instagram-btn {
  display: inline-block;
  border: 2px solid black;
}

.instagram a {
  text-decoration: none;
  padding: 0.3rem;
  padding-left: 0.7rem;
  padding-right: 0.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

.instagram a img {
  width: 25px;
  height: 25px;
  margin-right: .5rem;
}

.instagram a:hover {
  background-color: #E8E8E9;
}
/* - - - - - - - - - - - - Header - - - - - - - */
.navigation {
  margin: 1%;
}
.navigation img {
  max-width: 30px;
}
.donate-button {
  color: black;
  text-decoration: none;
  border: 1px solid black;
  border-radius: 10%;
  padding: 5px;
  margin-right: 4px;
}

.navigation a {
  color: black;
  font-size: 1rem;
  text-decoration: none;
}

.menu a {
  padding: 0 1rem;
}

.menu a.no-padding {
  padding:0;
}

.menu a:hover {
  font-weight: bold;

}

.menu img {
  min-width: 50px;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - HOME - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

/* - - - - - - - - - - - - Hero - - - - - - - */

.hero {
  background-image: url(../img/hero.jpg);
  opacity: 0.9;
  color: black;
  min-height: 85vh;
  background-position: center;
  background-size: cover;
  text-align: center;
}

.hero h1 {
  font-size: 5rem;
  font-family: 'Courier New', sans-serif;
  font-weight:lighter;
  margin-bottom: 1rem;
}

.hero hr {
  border: none;
  border-bottom: 3px solid black;
  width: 50%;
  margin-bottom: 20px;
}

.hero h2 {
  margin-bottom: 2rem;
}

/* - - - - - - - - - - - - opener  - - - - - - - */
.opener {
  font-family: 'Courier New', sans-serif;
  font-size: 1.8rem;
  color: black;
  padding: 1%;
}
/* - - - - - - - - - - - - Mission Statement - - - - - - - */
.mission {
  text-align: center;
  background-color: #1A1A1A;
  color: white;
  padding: 8%;
  font-size: 1.2rem;
  /* margin-top: 5px; */
}

.mission div {
  border: 3px solid #C8EC69;
}

.mission h2 {
  font-size: 2rem;
}

.mission h3 {
  font-weight: normal;
}
/* - - - - - - - - - - - - What We Do - - - - - - - */
.wwd {
  border: 2px solid white;
  min-height: 50vh;
}
.wwd img {
  max-width: 40px;
  height: auto;
}
.wwd h2 {
  font-size: 2rem;
}
.wwd1 {
  background-color: #26A65B;
  border: 2px solid white;
}

.wwd2 {
  background-color: #1BBC9B;
  border: 2px solid white;
}

.wwd3 {
  background-color: #1BA39C;
  border: 2px solid white;
}

.wwd4 {
  text-align: center;
  border: 2px solid white;
}

.wwd-item {
  top: 0;
  left: 0;
  background-color: white;
  opacity: 0;
}

.wwd-centerimg {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* - - - - - - - - - - - - DONATE - - - - - - - */
.donate {
  min-height: 50vh;
  background-image: url(../img/donate.jpg);
  background-position: center;
  background-size: cover;
}

.donate a {
  text-align: center;
  text-decoration: none;
  border: 3px solid white;
  color: white;
  padding: 8%;
  font-size: 2rem;
}

.donate a:hover {
  background-color: #122021;
  color: white;
}
/* - - - - - - - - - - - - Blog - - - - - - - */
.homeblog h3 {
  font-size: 2rem;
  margin: 10px;
}
.homeblog hr {
  border: none;
  border-bottom: 3px solid black;
  width: 50px;
  margin: 0 15px 20px;
}

.hblogposts {
  padding: 5%;
}

/* - - - - - - - - - - - - - Footer - - - - - - - - - - */
.footer {
  color: white;
}

.f1 {
  background-color: #C8EC69;
  color: black;
  padding-left: 10%;
  padding-right: 10%;
}

.f1 h3 {
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 10px;
  font-weight: bold;
}

.f1 p {
  margin-top: 0;
}


.f2 {
  background-color: #43423E;
  padding-left: 5%;
  padding-right: 5%;
}

.f2 h3 {
  font-family: 'Courier New', sans-serif;
  font-weight: normal;
}

.f2 img{
  padding: 12px;
  max-width: 40px;
}

.f2 a {
  color: white;
  display: inline-block;
  text-decoration: none;
}

.f2 a:hover {
  text-decoration:underline;
}

/* - - - - - - - - - - fixed elements - - - - - - - - - - -*/
.scroller {
  position: absolute;
  left: 0;
  bottom: 1rem;
  width: 100%;
  z-index: 1;
}

.scroller img {
  max-width: 25px;
  height: auto;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - About - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.banner {
  background-image: url(../img/banner.jpg);
  opacity: 0.9;
  color: white;
  min-height: 45vh;
  background-position: center;
  background-size: cover;
  text-align: center;
  font-size: 2rem;
}

.story {
  padding: 100px;
  padding-right: 2%;
  padding-left: 2%;
}

.aboutpic {
  min-height: 40vh;
  background-position: center;
  background-size: cover;
}

.aboutpic img {
  display: block;
}

.aboutpic div {
  width: 100%;
  bottom: -20px;
}

.aboutpic a {
  padding: 3%;
  padding-left: 5%;
  padding-right: 5%;
  color: white;
  background-color: #C8EC69;
  text-decoration: none;
  display: inline-block;
  border: 2px solid white;
}

.aboutpic a:hover {
  background-color: black;
  color: white;
}

.story {
  text-align: center;
  padding: 5%;
}

/* - - - - - - - -  our team - - - - - - -*/

.our-team {
  Color: white;
  margin-top: 10%;
}
.ot1 {
  background-color: #26A65B;
  border: 2px solid white;
}

.ot2 {
  background-color: #1BBC9B;
  border: 2px solid white;
}

.ot3 {
  background-color: #1BA39C;
  border: 2px solid white;
}

.ot4 {
  text-align: center;
  border: 2px solid white;
  color: black;
}
/* - - - - - - contact - - - - - -  */
.contact {
  padding-bottom: 3%;
}
.contact-title {
  margin-top: 3%;
}
.contact-title hr {
  border: none;
  border-bottom: 3px solid black;
  width: 50px
}

.contact-icons {
  margin-top: 5px;
  padding-right: 20%;
  padding-left: 20%
}

.contact-icons img{
  max-width: 50px;
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - pledges - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

/* - - - - - - - - - - pledge stat - - - - - - - - -- */

.stat-wrapper1 {
  border: 1px solid black;
}

.stat-wrapper2 {
  border: 1px solid black;
}

.stats-pic img{
  max-width: 300px;
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - Get Involved - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* - - - - - - - - - - - - - - - - event title - - - - - - - - - - - - - */

.event-title h2 {
  font-size: 2rem;
  margin-bottom: 0;
}

.event-title p {
  font-size: 1.5rem;
  margin: 0;
  margin-bottom: 1rem;
}
/* - - - - - - - - - - - - - - - - event types - - - - - - - - - - - - - */
.event-types {
  padding-right: 4%;
  padding-left:4%;
}

.event-types img {
  max-width: 400px;
  height:200px;
}

.event-types div {
  padding-right:2%;
  padding-left: 2%;
}

/* - - - - - - - - - - - - - - - - contact form - - - - - - - - - - - - - */

.contactform-section {
  background-color: #1A1A1A;
  color: white;
  padding: 5%;
  margin-bottom: 50px;
}

.contactform-section-text {
  padding:8%;
}

.contactform-section-text h3 {
  color: #C8EC69;
  font-size: 1.8rem;
  line-height: 0.2;
}

.contactform-section-text span {
  color: #1BA39C;
}

.contactform-section-form {
  padding: 5px;
  width: 100%;
  margin: 6px 0;
  padding: 12px 10px;
  border-radius: 8px;
}

.contactform-section-form input,
.contactform-section-form textarea {
  width: 100%;
  display:block;
  padding: 15px 8px;
  margin-bottom: 1rem;
  border-radius: 5px;
  outline: none;
  border: none;
}

.contactform-section-form input[type="radio"] {
  display: none;
}

.contactform-section-form p {
  line-height: 0.2;
}

.event-type-form-text {
  margin-top: 40px;
}

.contactform-section-form button {
  border-radius: 8px;
  background-color: #C8EC69;
  color: white;
  width: 100%;
  padding: 3%;
  outline: none;
  border: none;
}

.contactform-section-form button:hover {
  background-color: #43423E;
  color: white;
  border: none;
}

.contactform-section-form textarea {
  min-height: 200px;
  min-width: 100%;
}

.contactform-section-form-button {
  display:flex;
  justify-content: center;
  align-items: center;
  background-color: #1BA39C;
  border-radius: 5px;
  padding: 1rem 0;
  margin-bottom: 1rem;
}

.contactform-section-form-button:hover {
  cursor: pointer;
}

.contactform-section-form-button.active img {
  opacity: 1;
}

.contactform-section-form-button img {
  width: 24px;
  height: 24px;
  margin-right: 1rem;
  opacity: 0.25;
}
