---
layout: default
title: movements
---
{% include banner.html %}
<!-- - - - - - - - - - - - - - - - - - initiative title - - - - - - - - - -->
<section class="grid-middle-center">
  <img src="/img/initiative-icon.png">
  <h2> Reverse the Effects of Big Business </h2>
  <p> Each initative below describes the current issues downroot is focusing on. Click on the element to learn more.</p>
</section>

<!-- - - - - - - - - - - - - - - - - - initiatives grid - - - - - - - - - -->
<section class="grid-middle-center">
  <div class="grid col-12">

    <div class="col-3 initiative1">
    </div>

    <div class="col-3 initiative2">
    </div>

    <div class="col-3 initiative3">
    </div>

    <div class="col-3 initiative4">
    </div>

  </div>
</section>




{% include instagram.html %}
