---
layout: default
title: pledge
---

<!-- - - - - - - - - - banner - - - - - - - - - - - -->
{% include banner.html %}

<!-- - - - - - - - - - the pledge text - - - - - - - - - - - -->
<section class="grid-center-middle pledge-text">
  <div class="col-6 center-align">
    <h2> the downroot pledge </h2>
    <hr>
    <p> Every <span>downroot certified</span> business must pledge to strive for net zero deforestation.The requirements of a downroot pledgee include (1) incorporating atleast one environmental awareness event annually and (2) contributing to reforestation by either donating 1% of overall profit or matching their deforestation expenses. </p>
  </div>
</section>

<!-- - - - - - - - - - pledge map - - - - - - - - - - - -->

<section class="grid-center-middle pledge-map show-me">
  <div>
    <h3> ### pledges <span>worldwide</span> </h3>
  </div>
</section>


<!-- - - - - - - - - - - Pledge Opener - - - - - - - - - - - -->
<section class="pledge-opener center-align" id="pledge-archive">
  <img src="../img/search.png">
  <h2 class="center-align"> Search Pledged Companies </h2>
  <p> Select a letter to be directed. </p>
  <p>Click the companies to go to their website. </p>
  <hr>
</section>

<!-- - - - - - - - - - Pledge Archive Scroll to Top button - - - - - - - - - - - -->


<a class="mobile-hide" href="#pledge-archive"id="myBtn" title="Go to top">search</a>


<!-- - - - - - - - - - Pledge Archive - - - - - - - - - - - -->
<section class="grid pledge-archive" data-sticky-container>
  <div class="col-12 pledge-archive-navigation center-align stick-me" data-margin-top="20">
    {% assign alphabet = site.pledges | group_by_exp:"pledge", "pledge.company_name | slice: 0, 1" %}
    {% for group in alphabet %}
      <a href="#letter-{{ group.name | downcase }}" data-letter="{{ group.name | downcase }}">{{ group.name }}</a>
    {%endfor%}
  </div>
  <div class="col-12 archive">


    {% for group in alphabet %}
    <section class="letter-{{ group.name | downcase }}">
      <h3 id="letter-{{ group.name | downcase }}">{{ group.name }}</h3>
      <div class="grid">
        {% for pledge in group.items %}
          <div class="col-3_sm-6_xs-12">
            <a class="pledge-links" href="{{pledge.link}}">{{ pledge.company_name }}</strong>
            <br />
          </div>
        {%endfor%}
      </div>
    </section>
    {%endfor%}
  </div>
</section>

{% include instagram.html %}
