---
layout: default
---

<!-- - - - - - - - - - banner - - - - - - - - - - - -->

<section class="grid-center-middle-noBottom banner">
  <div class="col-12 center-align">
    <h1> pledges </h1>
  </div>

  <div class="col-12 center-align">
    <!-- insert search bar -->
  </div>
</section>

<!-- - - - - - - - - - the pledge text - - - - - - - - - - - -->
<section class="grid-center-middle pledge-text">
  <div class="col-6 center-align">
    <h2> the pledge </h2>
    <hr>
    <p> Every <span>downroot certified</span> business must pledge to minimize environmental effects whenever possible when making corporate decisions, to perform at least one environmental initiative (hands-on or fundraising) annually, and donate 1% of overall profit to issues caused by worldwide business activities. </p>
  </div>
</section>

<!-- - - - - - - - - - pledge stat section - - - - - - - - - - - -->
<section class="grid pledge-stat center-align">
  <div class="col-2">
  </div>
  <div class="grid-middle-center col-3 stat-square">
    <div class="col-3 stat-wrapper1">
      <h3> # </h3>
      <p> pledges </p>
    </div>
  </div>

  <div class="col-2 stats-pic">
  </div>

  <div class="grid-middle-center col-3 stat-square">
    <div class="col-3 stat-wrapper2">
      <h3> # </h3>
      <p> countries </p>
    </div>
  </div>
  <div class="col-2">
  </div>
</section>

<!-- - - - - - - - - - Pledge Archive - - - - - - - - - - - -->
<section class="grid pledge-archive">
  <div class="col-3 pledge-archive-navigation">
    {% assign alphabet = site.pledges | group_by_exp:"pledge", "pledge.company_name | slice: 0, 1" %}
    {% for group in alphabet %}
      <a href="#letter-{{ group.name | downcase }}" data-letter="{{ group.name | downcase }}">{{ group.name }}</a>
    {%endfor%}
  </div>
  <div class="col-9">


    {% for group in alphabet %}
    <section class="letter-{{ group.name | downcase }}">
      <h3 id="letter-{{ group.name | downcase }}">{{ group.name }}</h3>
      <div class="grid">
        {% for pledge in group.items %}
          <div class="col-3">
            {{ pledge.company_name }}
            <br />
            {{ pledge.description }}
          </div>
        {%endfor%}
      </div>
    </section>
    {%endfor%}
  </div>
</section>
