---
layout: default
title: reforestation
---
{% include banner.html %}
<!-- - - - - - - - - - - - - - - - - - reforestation title - - - - - - - - - -->
<section class="grid-middle-center reforestation-title center-align">
  <div class="col-12">
    <img src="/img/arrow-logo.png">
    <h2> Net Zero Deforestation </h2>
    <p> Net Zero Deforestation means that businesses must replant the same amount they take. </p>
    <p> Downroot is the connection between companies and a green planet.</p>
  </div>
</section>

<!-- - - - - - - - - - - - - - - - - - reforestation donate banner - - - - - - - - - -->
<section class="grid-center-align-middle reforestation-donate center-align">
  <div class="col-5_md-12">
    <div>
      <h3> $1 = 1 tree  </h3>
      <a href="/donate(hidden)"> DONATE </a>
    </div>
  </div>
</section>


<!-- - - - - - - - - - - - - - - - - - reforestation grid - - - - - - - - - -->
<section class="grid reforestation-foursquare">

  <div class="col-6_md-12 reforestation1">
  </div>

  <div class="col-6_md-12">
    <h3> 1. Fundraising  </h3>
    <hr>
    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
  </div>

  <div class="col-6_md-12">
    <h3 class="right-align"> 2. Research </h3>
    <hr>
    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
  </div>

    <div class="col-6_md-12 reforestation2">
    </div>

    <div class="col-6_md-12 reforestation3">
    </div>

    <div class="col-6_md-12">
      <h3> 3. Planting </h3>
      <hr>
      <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
    </div>

    <div class="col-6_md-12">
      <h3 class="right-align"> 4.  Maintenance </h3>
      <hr>
      <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
    </div>

    <div class="col-6_md-12  reforestation4">
    </div>
  </div>
</section>

<!-- - - - - - - - - - - - - - - - - - donate bar - - - - - - - - - -->




{% include instagram.html %}
