---
layout: default
title: reforestation
---
{% include banner.html %}
<!-- - - - - - - - - - - - - - - - - - initiative title - - - - - - - - - -->
<section class="grid-middle-center">
  <img src="/img/initiative-icon.png">
  <h2> Net Zero Deforestation </h2>
  <p> Net Zero Deforestation means that businesses must replant the same amount they take. Downroot is the medium. Click on the element to learn more.</p>
</section>

<!-- - - - - - - - - - - - - - - - - - initiatives grid - - - - - - - - - -->
<section class="grid-middle-center">
  <div class="grid col-12">

    <div class="col-3 initiative1">
    </div>

    <div class="col-3 initiative2">
    </div>

    <div class="col-3 initiative3">
    </div>

    <div class="col-3 initiative4">
    </div>

  </div>
</section>




{% include instagram.html %}
