---
layout: default
title: reforestation
---
{% include banner.html %}
<!-- - - - - - - - - - - - - - - - - - reforestation title - - - - - - - - - -->
<section class="grid-middle-center reforestation-title center-align">
  <div class="col-12">
  <img src="/img/arrow-logo.png">
  <h2> Net Zero Deforestation </h2>
  <p> Net Zero Deforestation means that businesses must replant the same amount they take. </p>
  <p> Downroot is the connection between companies and a green planet.</p>
</div>
</section>

<!-- - - - - - - - - - - - - - - - - - reforestation donate banner - - - - - - - - - -->
<section class="grid-center-align-middle reforestation-donate center-align">
  <div class="col-5">
  <div>
    <h3> $1 = 1 tree  </h3>
    <a href="/donate(hidden)"> DONATE </a>
  </div>
</div>
</section>


<!-- - - - - - - - - - - - - - - - - - reforestation grid - - - - - - - - - -->
<section class="grid reforestation-foursquare">

    <div class="col-6 reforestation1">
    </div>

    <div class="col-6">
      <h2> </h2>
        <hr>
        <p>
    </div>

    <div class="col-6">
      <h2> </h2>
        <hr>
        <p>
    </div>

    <div class="col-6  reforestation2">
    </div>
  </div>
</section>

<!-- - - - - - - - - - - - - - - - - - donate bar - - - - - - - - - -->




{% include instagram.html %}
